/*
------------------------------------------ 

    Removes the top bar as it only shows
    redundant info

    Buttons in the top right corner get pulled
    down, elements in the way also get pulled
    down a bit (search, voice-channel open chat, ...)

    THIS CURRENTLY BUGS OUT WHEN YOU HAVE
    TEXT STORED IN AN INPUT AND THEN OPEN THE
    CHANNEL AGAIN
------------------------------------------
*/
.bar_c38106:not(.systemBar_c38106) {
    position: absolute !important;
    padding: 0 !important;
    right: 0 !important;
    z-index: 101 !important;
}

.bar_c38106:not(.systemBar_c38106) > .title_c38106 {
    display: none !important;
}

.bar_c38106:not(.systemBar_c38106) > .leading_c38106 {
    display: none !important;
}

.bar_c38106:not(.systemBar_c38106) > .trailing_c38106 {
    margin-top: 7px !important;
}

.visual-refresh.density-cozy .bar_c38106:not(.systemBar_c38106) > .trailing_c38106 {
    margin-top: var(--space-6) !important;
    gap: var(--space-8) !important;
}

.base_c48ade {
    grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [end] !important;
}

.toolbar__9293f {
    transform: translateX(calc(-8*32px)) !important;
}

.search__49676 {
    position: absolute !important;
    margin-top: calc(2.5* var(--custom-app-top-bar-height)) !important;
}

.visual-refresh.density-compact .search__49676,
.visual-refresh.density-default .search__49676 {
    margin-left: calc(5*32px) !important;
}

.visual-refresh.density-cozy .search__49676 {
    margin-left: calc(5*32px + 6px) !important;
}

.searchResultsWrap_a9e706 {
    padding-top: calc(var(--custom-app-top-bar-height)) !important;
}

.container_c8ffbb {
    padding-top: var(--custom-app-top-bar-height) !important;
}

.guilds_c48ade {
    margin-top: var(--space-xs) !important;
}

.videoControls_bfe55a {
    top: var(--custom-app-top-bar-height) !important;
}

.chatLayerWrapper__01ae2 {
    height: calc(100% - var(--custom-app-top-bar-height) - 2* var(--space-8)) !important;
    top: unset !important;
    bottom: 0 !important;
}

.visual-refresh.density-cozy .chatLayerWrapper__01ae2 {
    height: calc(100% - var(--custom-app-top-bar-height) - 2* var(--space-6)) !important;
}