/*
------------------------------------------ 

    Moves message input down so it
    aligns with the profile block
   
    Moves the typing indicator into the message box

    Resizes the message box if the typing indicator
    is present

    THIS VERSION ARTIFACTS WHEN TYPING MULTILINE MESSAGES!
    USE THE FAST VERSION INSTEAD!

------------------------------------------
*/
.visual-refresh .form_f75fb0 {
    --custom-channel-textarea-height-change: 0px;
}

.visual-refresh .form_f75fb0:has(div.typing_b88801) {
    --custom-channel-textarea-height-change: 16px;
}

.visual-refresh .form_f75fb0 .attachButton__0923f {
    transition: height .2s ease !important;
    height: calc(var(--custom-channel-textarea-text-area-height) + var(--custom-channel-textarea-height-change));
    min-height: calc(var(--custom-channel-textarea-text-area-height) + var(--custom-channel-textarea-height-change)) !important;
}

.visual-refresh .form_f75fb0 .buttons__74017 {
    transition: height .2s ease !important;
    height: calc(var(--custom-channel-textarea-text-area-height) + var(--custom-channel-textarea-height-change));
    min-height: calc(var(--custom-channel-textarea-text-area-height) + var(--custom-channel-textarea-height-change)) !important;
}

.visual-refresh .form_f75fb0 .textArea__74017 {
    transition: height .2s ease !important;
    height: calc(var(--custom-channel-textarea-text-area-height) + var(--custom-channel-textarea-height-change));
    min-height: calc(var(--custom-channel-textarea-text-area-height) + var(--custom-channel-textarea-height-change)) !important;
}

.visual-refresh .form_f75fb0 .channelTextArea_f75fb0 {
    margin-bottom: 10px !important;
}

.visual-refresh .form_f75fb0 .typing_b88801 {
    margin-bottom: 10px !important;
    margin-left: 55px !important;
}